@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

:root {
  --fs-h1: 72px;
  --fs-h2: 52px;
  --fs-h3: 40px;
  --fs-h4: 32px;
  --fs-h5: 24px;
  --fs-h6: 20px;
  --fs-p: 16px;
  --lh-h1: 86px;
  --lh-h2: 62px;
  --lh-h4: 38px;
  --lh-p: 24px;
  --Res-100: 100px
}

h1 {
  font-size: var(--fs-h1) !important;
  font-weight: 700;
  line-height: var(--lh-h1);
}

h2 {
  font-size: var(--fs-h2) !important;
  font-weight: 700;
  line-height: var(--lh-h2);
}

h4 {
  font-size: var(--fs-h4) !important;
  font-weight: 700;
  line-height: var(--lh-h4);
}

p {
  font-size: var(--fs-p) !important;
  font-weight: 400;
  line-height: var(--lh-p);
}

.commonBtn {
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
}

.primaryBtn {

  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
}

.bgHeader {
  min-height: 810px;
  background-image: url(/assets/images/headerbg.png);

}

/* navBar Css  */
li a {
  color: white !important;
  opacity: 0.7;
  font-size: 20px;
}

/* hero section  */
.max-w-873 {
  max-width: 873px !important;
}

/* Twich Slider  */

.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 1140px;
  padding-top: var(--Res-100);
  padding-bottom: var(--Res-20);
  transition: all linear 5s;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3096px;
}

.sliderItems svg {
  opacity: 0.7;
  transition: all 3ms linear;
}

.sliderItems:hover svg {
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1548px);
    -webkit-transform: translateX(-1548px);
    -moz-transform: translateX(-1548px);
    -ms-transform: translateX(-1548px);
    -o-transform: translateX(-1548px);
  }
}

/* first game  */
.pt-121 {
  padding-top: 121px;
}

.about-h {
  opacity: 6%;
  top: 4px;
  right: -4%;
}

.common-h-btns {
  background: linear-gradient(151.6deg, rgba(212, 20, 90, 0.2) 1.85%, rgba(251, 176, 59, 0.2) 98.12%);
  padding: 10px 19px 10px 19px;
  border: 1px solid;
  border-image-source: linear-gradient(151.6deg, rgba(212, 20, 90, 0.41) 1.85%, rgba(251, 176, 59, 0.41) 98.12%);
  border-radius: 30px;
}

.mb-18 {
  margin-bottom: 18px;
}

.cbtn-p {
  color: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
}

.max-w-310 {
  max-width: 310px;
}

.pt-50 {
  padding-top: 50px;
}

.max-w-512 {
  max-width: 512px;
}

.pb-114 {
  padding-bottom: 114px;
}

.doers-crd {
  background: #1E1E1E73;
  border-radius: 30px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 49px;
  padding-bottom: 49px;
  height: 100%;
  transition: .4s;
  border: 1px solid transparent;
}

.doers-crd:hover {
  transform: translateY(-10%);
  border: 1px solid;
  border-image-source: linear-gradient(151.6deg, rgba(212, 20, 90, 0.4) 1.85%, rgba(251, 176, 59, 0.4) 98.12%);

}



.elipscrd::before {
  content: "";
  position: absolute;
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
  bottom: 0;
  width: 347px;
  height: 116px;
  border-radius: 100%;
  filter: blur(50px);
  bottom: -35%;

}

.pb-131 {
  padding-bottom: 131px;
}

.pt-49 {
  padding-top: 49px;
}