@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

:root {
  --fs-h1: 44px;
  --fs-h1Span: 36px;
  --fs-h2: 28px;
  --fs-h3: 18px;
  --fs-p: 14px;
  --fs-a: 15px;
  --fs-3xl: 24px;
  --lh-hspan: 45.2px;
  --lh-h1: 50px;
  --lh-h2: 32.8px;
  --lh-h3: 19.72px;
  --lh-p: 21px;
  --lh-a: 17.2px;
  --bg-black: #0D0D0D;
  --blue-nav: #0576B3;
  --blue: #0073B1;
  --ReSize-13: 8px;
  --ReSize-20: 10px;
  --ReSize-14: 8px;
  --ReSize-18: 14px;
  --ReSize-80: 30px;
  --ReSize-32: 18px;
  --ReSize-40: 20px;
  --ReSize-120: 40px;
}

h1,
h2,
h3,
p {
  margin-bottom: 0;
}


h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
  font-weight: 600;
}

h1 span {
  font-size: var(--fs-h1Span) !important;
  line-height: var(--lh-hspan) !important;
  font-weight: 400;
  letter-spacing: -1% !important;
}

h2 {
  font-size: var(--fs-h2) !important;
  line-height: var(--lh-h2) !important;
  font-weight: 600;
}

h3 {
  font-size: var(--fs-h3) !important;
  line-height: var(--lh-h3) !important;
  font-weight: 500;
}

p {
  font-size: var(--fs-p) !important;
  line-height: var(--lh-p) !important;
  font-weight: 400;
}


.commonBtn {
  background: linear-gradient(151.6deg, #D4145A 1.85%, #FBB03B 98.12%);
}

.bgHeader {
  min-height: 810px;
  background-image: url(/assets/images/headerbg.png);

}

/* navBar Css  */
li a {
  color: white !important;
  opacity: 0.7;
  font-size: 20px;
}